
@import "tailwindcss";

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Desactiva el scroll en el nivel del documento */
    height: 100%; /* Asegura que ocupen toda la altura de la pantalla */
  }